---
interface Props {
    text : String;

}
const {text} =Astro.props
---

<div class="items-center">
 <a href="" class=" p-0 h-11 text-lg hover:rounded-[20px] hover:border-none hover:rounded-b-none border-gray-500 border-[1px] rounded-full boder-2 text-center flex  text-white hover:bg-white hover:text-black relative group px-5 ">
    <h3 class="flex items-center p-0 m-0  h-full w-full">{text}</h3>
    <menu class="hidden  group-hover:block bg-white absolute w-full mt-9 rounded-b-2xl  overflow-hidden overflow-y-scroll left-0 h-[350px]">
                <slot class="hidden "></slot>
        </menu>
    
 </a>
</div>






