---
interface Props {
    text : String;

}
const {text} =Astro.props
---


<div class="relative w-52 h-full">
    <div id="ExpansiveCard" class="rounded-2xl text-white h-full w-full  hover:bg-[#fbf5f5]  items-start p-5 text-[17px]  
    justify-center flex-col hover:text-black hover:h-96 absolute hover:overflow-y-auto" >

        <h4 class="w-full h-8 flex items-center mt-0">{text}</h4>

       <div id="element_expansive" class="select" class="flex flex-col h-full w-full hover:h-32 ">
            <slot  class=""></slot>
        </div>

    </div>
</div>



<style>


.select{
 display:none;


}
</style>

<script>
    const element = document.querySelector("#ExpansiveCard");
    const element_expansive = document.querySelector("#element_expansive")


    element.addEventListener("mouseover", () => 

        element_expansive.classList.toggle("select")

    );


    element.addEventListener("mouseout", () => 

     element_expansive.classList.toggle("select")

    );

    console.log(element);

</script>

