---
interface Props {
    href : String;
    text : String;

   
}

const {href} = Astro.props
---

    <a href={href} class=" rounded-full text-white h-8 hover:bg-[#4A4A4A] flex
     items-center p-5 text-[17px]"> <slot></slot></a>