---
import { Icon } from 'astro-icon/components';
import Optionsmenu from '../components/Optionsmenu.astro'
import ExpansiveCard from '../components/ExpansiveCard.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const products = [
	{
		icon:"",
		name: "producto 1"
	},
	{
		icon:"",
		name: "producto 2"
	},
	{
		icon:"",
		name: "producto 3"
	}

]
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-[#191919] w-screen " >
			<div class= "flex items-center justify-center pt-2">
				<img class="h-[61px]" src="/public/logo_aliexpress.webp" alt="logo aliexpress"> 
				<div class=" relative w-3/6 max-w-2xl">
					<input type="search" placeholder="Buscar..." class="h-9 rounded-full pl-5 outline-none pr-12 w-full ">
					<div class="bg-black right-1 top-[2px] absolute inline-block text-white rounded-2xl py-1 px-2">
						<Icon name="mdi:search"  class="size-6"/>
					</div>
				</div>

				<div class="text-white flex p-0 m-0 ml-8" >
					<Icon name="mdi:qrcode"  class="size-8" />
					<div class="text-[13px] ml-2">
						<p >Descarga la app</p>
						<p>de AliExpress</p>	
					</div>
				</div>

				<div class="text-white ml-8 flex flex-row items-center">
					<Icon name="mdi:person-outline" class="size-10" />
					<div class="">
						<p class="text-[13px]">!Bienvenido</p>
						<div class="flex text-[13px]">
							<b>Identificate / registrate</b>
							<Icon name="mdi:arrow-down-drop" class="size-6" />
						</div>
					</div>
				</div>

				<div class="text-white  ml-8 flex">
					<Icon name="mdi:cart-outline"  class="size-8"/>
					<div>
						<div class="bg-white h-4 flex items-center justify-center rounded-xl text-xs w-6">
							<b class="text-black">0</b>
						</div>
						<b class="  text-[13px]">Cesta</b>
					</div>
				</div>
			</div>


			<div class=" w-screen bg-[#191919] h-[70px] flex ">
				<ul class=" flex justify-center w-full items-center h-full">
					<ExpansiveCard text={"menu expansible"} >
						<ul class="">
							<li>
								opcion 1
							</li>
							<li>
								opcion 2
							</li>
							<li>
								option 3
							</li>
							<li>
								opcion 1
							</li>
							<li>
								opcion 2
							</li>
							<li>
								option 3
							</li>
							<li>
								opcion 1
							</li>
							<li>
								opcion 2
							</li>
							<li>
								option 3
							</li>
							<li>
								opcion 1
							</li>
							<li>
								opcion 2
							</li>
							<li>
								option 3
							</li>
							<li>
								opcion 1
							</li>
							<li>
								opcion 2
							</li>
							<li>
								option 3
							</li>
							
						</ul>
					</ExpansiveCard>
					<Optionsmenu href={"#"} text={"Option 1"}></Optionsmenu>
					<Optionsmenu href={"#"} text={"Option 1"}></Optionsmenu>
					<Optionsmenu href={"#"} text={"Option 1"}></Optionsmenu>
					<Optionsmenu href={"#"} text={"Option 1"}></Optionsmenu>
					<Optionsmenu href={"#"} text={"Option 1"}></Optionsmenu>
				</ul>
			</div>
		</div>
		<div class="container">
			<slot />
		</div>
		<div class="container footer">
			ESTE ES EL FOOTER
		</div>
	</body>
</html>
<style is:global>
	
	html, body {
		overflow-x: hidden;
		margin:0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
